.jobDetails-mainContainer {
  background-color: #000000;
  color: #ffffff;
}
.jobDetails-container {
  padding: 30px 15px 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jobDetails-card {
  width: 100%;
}
.job-card {
  background-color: #2c364c;
  width: 90%;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 17px;
  text-decoration: none;
  color: inherit;
}
.jobs-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.job-title-card {
  display: flex;
  align-items: center;
}
.job-icon-position {
  display: flex;
  align-items: center;
}
.job-loctaion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.job-logo {
  width: 60px;
  margin-right: 15px;
}
.job-intern {
  margin-left: 15px;
}
.job-discription {
  font-size: 20px;
}
.visit-link {
  text-decoration: none;
  color: #6366f1;
  display: flex;
  align-items: center;
}
.skill-logo {
  width: 55px;
  margin-right: 5px;
}
.skill-container {
  display: flex;
  align-items: center;
  width: 30%;
  margin-bottom: 30px;
}
.skill {
  display: flex;
  flex-wrap: wrap;
}
.life-container {
  display: flex;
  align-items: center;
}
.similar-jobs {
  display: flex;
  width: 90%;
}
.loader-styles {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .similar-jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .life-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skill-container {
    width: 45%;
  }
  .skill {
    justify-content: space-between;
  }
  .job-discription {
    order: 1;
  }
}
